<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="jumbotron">
  <h1> My quotes </h1>
  <p> My quote for today is {{quote}} </p>
   <img src="https://moringaschool.instructure.com/images/thumbnails/15923/fIeCEiIJimkmOMvyT0xjv5mzZ6KoIkG2BrrbPl7V" alt="">
<div class="row"> -->
  <!-- <div class="col-6">


   <h1>My quotes</h1>
   <ul>
     <li *ngFor='let quote of quotes'>{{quote.id}}</li>
   </ul>
   </div> -->
   <!-- <div class="col-6">
     <h1>My quotes</h1>
  <hr>

  <ol>
    <li *ngFor='let quote of quotes'>{{quote.name}}</li>
  </ol>

  <p *ngIf='quotes.length > 5'>You have too many quotes</p>
   </div>
</div>

</div> -->
<!-- {{app.title}} -->
<app-quote></app-quote>
